@model SkiStore.Models.ViewModels.ErrorViewModel
@{
    Layout = "_Layout";
}

<div class="errorDisplay">
    @if(Model.ErrorMessage != null)
     {
        <p>@Model.ErrorMessage</p>

    } else
    {
        <p>Woah, somethin went totally super wrong...</p>
    }
</div>

