<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Styles/Reset.css" />
    <link rel="stylesheet" href="~/Styles/Style.css" />
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <header>
        <h1>Ski Store</h1>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Account/Register">Register</a></li>
            <li><a href="/Account/Login">Login</a></li>
            <li><a href="/Products/Index">Products</a></li>
        </ul>
    </header>
    

    <div>@RenderBody()</div>

    <footer>
        &copy; 2019 Team White
    </footer>
</body>
</html>

