@using Microsoft.AspNetCore.Identity
@using SkiStore.Models
@inject SignInManager<SkiStoreUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Styles/Reset.css" />
    <link rel="stylesheet" href="~/Styles/Style.css" />
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <header>
        <h1>Ski Store</h1>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>

                @if (signInManager.IsSignedIn(User))
                {
                <li>Welcome @User.Claims.First(c => c.Type == "FirstName").Value</li>
                <li><a href="/Account/Logout">Log Out</a></li>
                }
                else
                {
                <li><a href="/Account/Register">Register</a></li>
                <li><a href="/Account/Login">Login</a></li>
                }
                <li><a href="/Products/Index">Products</a></li>
            </ul>
        </nav>
    </header>


    <main>@RenderBody()</main>

    <footer>
        &copy; 2019 Team White
    </footer>
</body>
</html>

