<!DOCTYPE html>

<html>
<head>


</head>

<body>
    <header>
        <h1>Ski Store</h1>
        <a href="/">Home</a>
        <a href="/Account/Register">Register</a>
        <a href="/Account/Login">Login</a>
    </header>
    

    <div>@RenderBody()</div>
</body>
</html>

