@model SkiStore.Models.ViewModels.CheckoutViewModel
@using  SkiStore.Models;
@{ 
    Layout = "_Layout";
}

<div class="orderDetails">
    <h2>Your total is: @Model.Order.Total</h2>
    <ul>
   @foreach (CartEntry entry in Model.Order.Cart.CartEntries)
   {
        if(entry.Quantity > 0)
        {
            <li>@entry.Quantity x @entry.Product.Name</li>

        }
    }
    </ul>
</div>
<form method="post" asp-action="Confirm" asp-controller="Orders">
@* In future, this will contain the forms for payment details. *@
    <input asp-for="Order.ID" type="hidden" value="Order.ID" />
    <button type="submit">You're in luck - for a limited time only everything is FREE!!!!</button>
</form>
