@model  SkiStore.Models.ViewModels.LoginViewModel
@{ 
    Layout = "_Layout";
}


@if(Model!= null && !string.IsNullOrEmpty(Model.AlertMessage))
{
    <p>@Model.AlertMessage</p>
}

<form asp-controller="Account" asp-action="Login" method="post">
    <label asp-for="UserName">Username
        <input asp-for="UserName" />
    </label>

    <label asp-for="Password">Password
        <input asp-for="Password" />
    </label>

    <button type="submit">Log In</button>
</form>
 


