@model  SkiStore.Models.ViewModels.LoginViewModel
@{ 
    Layout = "_Layout";
}

<form asp-action="post">
    <label asp-for="UserName">
        <input asp-for="UserName" />
    </label>

    <label asp-for="UserName">
        <input asp-for="UserName" />
    </label>

    <button type="submit">Log In</button>
</form>