* {
    box-sizing: border-box;
}

body, header, main, footer {
    width: 100%;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

footer {
    margin-top: 10px;
    text-align: center;
}

/*------------Navigation Bar---------------*/

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a{
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.name {
    float: right;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/*---------------Product Card Grid----------------*/
.deck {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 3em;
}

.card {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    width: 10em;
    height: 15em;
    margin: 2em;
    text-align: center;
    border-radius: 3px;
}


.card * {
    width: 10em;
    margin: .1em auto;
    display: block;
    text-align: center;
    border-radius: 2px;
}

.card img {
    width: 10em;
    height: 8em;
    background-color: aliceblue;
    border-radius: 0px;
}

/*------------------------ Cart --------------------------*/
.cart {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    margin: 0 auto;
    width: 60%;

}

.cart > * {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    height: 5em;
    margin: auto;
    overflow: hidden;
    width: 100%;
}

.cartItem * {
    flex-grow: 1;
    margin: auto;
}


/*------------------------ Order Confirmation --------------------------*/
#orderReceipt table {
    width:50%;
}

#orderReceipt th, #orderReceipt td {
    border: 1px solid #ddd;
    padding: 8px;
}

#orderReceipt tr:nth-child(even) {
    background-color: #f2f2f2;
}

#orderReceipt th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: cornflowerblue;
    color: white;
}

#orderReceipt tfoot{
    font-weight:bold;
}